{% extends 'base.html'%}

{% block content %}
<h4>Add Project</h4>
<form action="{{ url_for('insert_project') }}" method="POST" class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix green-text text-darken-3">poll</i>
            <input id="project_name" name="project_name" type="text" class="validate" value=" ">
            <label for="project_name">Project Name</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix green-text text-darken-3">subject</i>
            <input id="project_description" name="project_description" type="text" class="validate" value=" ">
            <label for="project_description">Project Description</label>
        </div>
    </div>
     <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix ">assignment_ind</i>
            <input id="project_owner" name="project_owner" type="text" class="validate" value=" ">
            <label for="project_owner">Project Owner</label>
        </div>
    </div>
     <div class="row">
            <button class=".btn_small waves-effect waves-light" type="submit" name="action">Save
                <i class="material-icons right">update</i>                
             </button>
        
            <button class=".btn_small waves-effect waves-light" type="submit" name="action">Cancel
                <i class="material-icons right">cancel</i>                
             </button>
        </div>
</form>


{% endblock %}