<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
  

<ul id="task-dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_tasks')}}">Manage Tasks</a></li>
  <li><a href="{{url_for('add_task')}}">Add Task</a></li> 
</ul>
<ul id="projects-dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_projects')}}">Manage Projects</a></li>
  <li><a href="{{url_for('add_project')}}">Add Project</a></li> 
</ul>
<ul id="staff-dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_staff')}}">Manage Staff</a></li>
  <li><a href="{{url_for('add_staff')}}">Add Staff</a></li> 
</ul>


 

 <ul class="side-nav" id="mobile-demo"> 
      <li><a href="{{url_for('view_tasks')}}">Home</a></li> 
      <li><a href="{{url_for('get_tasks')}}">Manage Tasks</a></li>
      <li><a href="{{url_for('add_task')}}">Add Task</a></li> 
      <li><a href="{{url_for('get_projects')}}">Manage Projects</a></li>
      <li><a href="{{url_for('add_project')}}">Add Project</a></li> 
      <li><a href="{{url_for('get_staff')}}">Manage Staff</a></li>
      <li><a href="{{url_for('add_staff')}}">Add Staff</a></li> 
      
    </ul> 
    
 <nav>
  
     <div class="nav-wrapper teal darken-4">    
     <a href="{{url_for('view_tasks')}}" class="brand-logo">Project Task Manager</a>

    
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">  

     
      
    
       <li><a href="{{url_for('view_tasks')}}">Home</a></li> 
        <li><a class="dropdown-trigger" data-activates="task-dropdown">Tasks<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" data-activates="projects-dropdown">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
       <li><a class="dropdown-trigger" data-activates="staff-dropdown">Staff<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
 
  </div>
</nav>   
   
    </header>
    <main>
    
    <div class="container box">
        {% block content %} {% endblock %}
    </div>
     </main>
    <footer class="page-footer teal darken-4">
          <div class="container">
            <div class="row">
             
              
            </div>
          </div>
         </footer>
     </body>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
       
            $(".dropdown-trigger").dropdown({
      inDuration: 300,
      outDuration: 225,
      hover: true, // Activate on hover
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'right' // Displays dropdown with edge aligned to the left of button
    });
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
           
            
            
            
        });

        

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
	e.stopPropagation();
});
    </script> 

</html>