<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
   

<ul id="task-dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_tasks')}}">Manage Tasks</a></li>
  <li><a href="{{url_for('add_task')}}">Add Task</a></li> 
</ul>
<ul id="projects-dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_projects')}}">Manage Projects</a></li>
  <li><a href="{{url_for('add_project')}}">Add Project</a></li> 
</ul>
<ul id="staff-dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_staff')}}">Manage Staff</a></li>
  <li><a href="{{url_for('add_staff')}}">Add Staff</a></li> 
</ul>

<ul class="side-nav" id="mobile-demo"> 
      <li><a href="{{url_for('view_tasks')}}">Home</a></li> 
      <li><a href="{{url_for('get_tasks')}}">Manage Tasks</a></li>
      <li><a href="{{url_for('add_task')}}">Add Task</a></li> 
      <li><a href="{{url_for('get_projects')}}">Manage Projects</a></li>
      <li><a href="{{url_for('add_project')}}">Add Project</a></li> 
      <li><a href="{{url_for('get_staff')}}">Manage Staff</a></li>
      <li><a href="{{url_for('add_staff')}}">Add Staff</a></li> 
      
    </ul>
    <nav>
     <div class="nav-wrapper teal darken-4">
     <a href="{{url_for('view_tasks')}}" class="brand-logo">Project Task Manager</a>
    
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">  
    
       <li><a href="{{url_for('view_tasks')}}">Home</a></li> 
        <li><a class="dropdown-trigger" data-activates="task-dropdown">Tasks<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" data-activates="projects-dropdown">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
       <li><a class="dropdown-trigger" data-activates="staff-dropdown">Staff<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
 
  </div>
</nav>   
 
  
</html>